html {
  font-size: 18px;
  background-color: white;
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  height:100%;
  text-align: center;
}

header {
  background-color: black ;
  height: 180px;
  color: white;
  width: 100%;
}

header a {
  color: red;
  float:right;
  padding-right: 15px;
  padding-top: 15px;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 35px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 85px;
  padding-left: 30px;
}

.headsub {
  text-align: left;
  padding-left: 30px;
  color: gray;
  font-size: 18px;
  margin: 0;
  /*padding-bottom: 10px;*/
}
header nav ul {
  padding-left: 30px;
  min-height: 45px;
  width: auto;
  background-color: gray;
  padding-bottom: 1%;

}

header li{
  color: purple;
  margin: 0;
  text-align: left;
  clear: left;
  display: inline;
}

header li a{
  color: purple;
  float: left;
  padding-right: 7%;
  font-size: 2.5vw;
  /*font-size: 20px;*/
}

section {
  margin-left: 30px;
  margin-top: 50px;
  width: 55%;
  position: absolute;
  float: left;
  text-align: left;
}

aside{
  margin-top: 70px;
  margin-right: 5px;
  float: right;
  width: 35%;
  clear: both;
  border: solid;
  margin-bottom: 50px;
}

h3 {
    clear: both;
}

aside li{
  list-style-type: none;
}
aside p{
  margin:0;
  text-align: left;
  float:left;
  width: 60%;
  font-size: 12px;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 20px;
}


a.booknow {
  text-align: right;
  float: right;
  width: 40%;
  font-size: 10px;
  height:45px;
  padding-top: 10px;
  padding-bottom: 20px;
  /*font-size: 1.6vw;*/
}

footer{
  clear: both;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  background-color: black ;
  height: 180px;
  width: 100%;

}

footer p{
  color:white;
  clear: both;
  display: block;
  text-align: center;
  margin: 0;
}

footer address p{
  text-align: left;
  color: red;
  color: white;
  margin: 0;
  padding: 0;
}

footer address a{
  color: red;
  float: left;
  margin-bottom: 60px;
}
